
  /* Main Body */
    /*body{font-family: 'Belgrano', sans-serif;}*/
  /* End of Main Body */

  /*  Landing-Register  page styles */
    #socialBtnWidth { width: 100%; margin-top: 5px;}
  /*  End of Landing-Register page styles */

  /* Create unit styles */

   .formaheight{ min-height: 300px;}

   /* End of Create unit styles */
